main.card_container {
    background-color: #fff;
    width: 70%;
    height: 70%;
    border: 3px solid black;
    border-radius: 15px; 
    box-shadow: rgba(0, 0, 0, 0.935) 8px 10px 15px 5px;
    display: flex;
}

/* User Content */

.users_container {
    border-right: 2px solid black;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.users_content {
    height: 90%;
    width: 100%;
    overflow-y: scroll;
    border-top: 3px solid rgba(128, 128, 128, 0.187);
}

.user_card {
    display: flex;
    align-items: center;
    margin: 10px 0;
    border-bottom: 1px solid grey;
}

.user_card > p {
    margin: 0;
    padding: 10px;
    width: 20%;
    text-align: center;

}

.user_data {
    width: 60%;
}

.user_btn {
    width: 20%;
}

.user_btn input {
    width: 80%;
    margin: 3px;
}

/* Form Content */

.form_content {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form_content form {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form_content img {
    width: 60px;
    border: 1px solid black;
    padding: 10px;
    border-radius: 50%;
}

.form_input {
    width: 60%;
    margin: 5px 0;
    padding: 5px;
    outline: 0;
    border: 1px solid black;
    border-radius: 5px;
}

.form_inputSubmit {
    margin: 20px 0;
    background-color: #1c91b7;
    border: 1px solid black;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: .3s;
}

.form_inputSubmit:hover {
    transform: scale(1.1);
}

.form_inputSubmit:active {
    transform: scale(1);
}
